<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Amazing Kids | Centers For Excellence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='src/assets/images/icon/logo.png')}}">
    <!-- all css here -->
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CE2K9J1S92"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CE2K9J1S92');
</script>
    <link rel="stylesheet" href="{{url_for('static',filename='src/assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='src/assets/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='src/assets/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='src/assets/css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='src/assets/css/slicknav.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='src/assets/css/typography.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='src/assets/css/default-css.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='src/assets/css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='src/assets/css/responsive.css')}}">
    <!--color css-->
    <link rel="stylesheet" id="triggerColor" href="{{url_for('static',filename='src/assets/css/triggerplate/color-0.css')}}">
    <!-- modernizr css -->
    
    <script src="static/src/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
  <body>
    <div class="container mt-5">
      <p>You have successfully subscribed!</p>
    </div>
    <div  class="container mt-5">
      <a
      href="index"
      class="signUpBtn rounded-lg bg-blue bg-opacity-20 py-3 px-6 text-base font-medium text-black duration-300 ease-in-out hover:bg-opacity-100 hover:text-dark"
    >
      Go back To HomePage
    </a>
    </div>
    <script>
      window.onload = function() {
    // similar behavior as clicking on a link
    window.location.href = "http://127.0.0.1:8080/games";
}
      
  

       
  </script>
  <script src="static/src/assets/js/vendor/jquery-2.2.4.min.js"></script>
  <!-- bootstrap 4 js -->
  <script src="static/src/assets/js/bootstrap.min.js"></script>
  <!-- others plugins -->
  <script src="static/src/assets/js/owl.carousel.min.js"></script>
  <script src="static/src/assets/js/jquery.magnific-popup.min.js"></script>
  <script src="static/src/assets/js/jquery.slicknav.min.js"></script>
  <script src="static/src/assets/js/plugins.js"></script>
  <script src="static/src/assets/js/scripts.js"></script>
 

  </body>
</html>